---
import Layout from "../layouts/Layout.astro";
import Env from "../components/react/Env.jsx";
---

<Layout padding={false}>
    <div class="p-4 flex flex-col items-center justify-center gap-12 h-full">
        <Env client:load />
    </div>
</Layout>
