---
import Layout from "../layouts/Layout.astro";

import { supabase } from "../lib/supabase.ts";

import Root from "../components/react/Root";

const rowsMinLimit = import.meta.env.rowsMinLimit;
const rowsMaxLimit = import.meta.env.rowsMaxLimit;
const lettersMinLimit = import.meta.env.lettersMinLimit;
const lettersMaxLimit = import.meta.env.lettersMaxLimit;
const countdownMinLimit = import.meta.env.countdownMinLimit;
const countdownMaxLimit = import.meta.env.countdownMaxLimit;

const {
    data: { user },
} = await supabase.auth.getUser();
---

<Layout padding={false}>
    <div class="p-4 flex flex-col items-center justify-center gap-12 h-full">
        <Root
            client:load
            rules={{
                rowsMinLimit: rowsMinLimit,
                rowsMaxLimit: rowsMaxLimit,
                lettersMinLimit: lettersMinLimit,
                lettersMaxLimit: lettersMaxLimit,
                countdownMinLimit: countdownMinLimit,
                countdownMaxLimit: countdownMaxLimit,
            }}
            isLoggedIn={user != null}
        />
    </div>
</Layout>
