---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Env from "../components/react/Env.jsx";

import Background from "../assets/wallpaper.jpg";
---

<Layout>
    <Title />
    <div
        class="w-full min-h-screen pt-20 flex items-center justify-center bg-cover bg-center"
        style={"background-image: url(" + Background.src + ");"}
    >
        <Env client:load />
    </div>
</Layout>
