---
import Layout from "../layouts/Layout.astro";
import Password from "../components/react/Password.jsx";
---

<Layout title="Register">
    <main class="center px-20">
        <form action="/api/auth/register" method="post" class="auth">
            <h2>Register</h2>
            <input type="email" name="email" placeholder="Email" />
            <Password client:load />
            <button class="btn-green" type="submit">Register</button>
            <p>Already have an account? <a href="/signin">Sign in</a></p>
        </form>
    </main>
</Layout>
