---
import Layout from "../layouts/Layout.astro";
import Author from "../components/Author.astro";
import Testings from "../components/react/Testing.jsx";

import { supabase } from "../lib/supabase";

let { data, error } = await supabase.from("personal-records").select("*");
---

<Layout>
    <Author />
    <div
        class="min-w-screen min-h-screen p-4 flex flex-col items-center justify-center gap-12"
    >
        <Testings client:load />
        {
            data && (
                <div class="grid grid-cols-4 gap-4 w-full">
                    {data.map((entry) => (
                        <div class="border-2 border-white rounded-lg p-4 flex flex-col gap-4">
                            <h2>Time: {entry.time}</h2>
                            <h2>Answer: {entry.answer}</h2>
                        </div>
                    ))}
                </div>
            )
        }
    </div>
</Layout>
