<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Wordly</title>
    </head>
    <body class="text-white bg min-h-screen">
        <slot />
        <style is:global>
            .bg {
                background-color: #1b1b1e;
            }
        </style>
    </body>
</html>
