---
import "../lib/master.css";
import Navbar from "../components/Navbar.astro";
import Background from "../assets/wallpaper.webp";
const { title, padding = true } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title || "Wordly"}</title>
    </head>
    <body class={"text-white bg " + (padding && "pt-24")}>
        <Navbar />
        <slot />
    </body>
</html>
